.add-agency-user-form {
  .ant-form {
    border-radius: 5px;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .form-elements {
      .ant-select-selector {
        display: flex;
        align-items: center;
        width: 100%;
      }

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0px 4%;
      align-items: center;
      justify-content: center;
    }

    .form-elements + div {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 150px;
        margin-top: 10%;
        margin-bottom: -10%;
      }
    }
    .district-sbumit-button {
      margin-top: 5%;
    }
  }
}
