.ant-collapse {
  
  .ant-collapse-item {
    background: rgb(212, 220, 196);
  }

  .ant-collapse-content-box {
    background: #e3e3df;
    border-top:1px solid rgb(148, 180, 219);

    width: 100%;
    #searchForm {
      .ant-form-item {
        margin: 4px;
        padding: 0px 0px 3px 0px;
      }

      .submit-button {
        background-color: orange;
      } 

      .clear-button {
        background-color: rgb(157, 126, 207);
      }
    }
  }
}

.download-csv-fle {
  background-color: rgb(206, 214, 98);
}
